body {

}

.main-container {
	background-color: #eee6f5;
	max-width: 90%;
	margin: 0 auto;
	padding: 1%;
    border: 1px darkgray solid;
    border-radius: 15px;
	box-shadow: 15px 2px 30px -2px darkgray;
	margin: 2% auto;
}

#bottomBar {
	text-align: center;
}

#left-section {
	/*float: left;*/
	/*max-width: 45%;*/
}

#location-list {
	display: inline-block;
}

#map {
	background-color: red;
	display: inline-block;
	width: 70%;
	height: 200px;
	/*background-image: url(AFR_Logo2.jpg);*/
}

#page-title {
	text-align: center;
	font-family: sans-serif;
/*	font-style: italic;*/
}

#right-section {
	/*float: right;*/
/*	max-width: 45%;*/
}