body {
	background-repeat: no-repeat;
	background-size: cover;
}

.main-container {
	background-color: rgba(121,150,255,0.42);
	max-width: 90%;
	margin: 0 auto;
	padding: 0 1%;
	border: 1px darkgray solid;
	border-radius: 15px;
	box-shadow: 15px 2px 30px -2px darkgray;
	z-index: 1;
	position: inherit;
	@media screen and (max-width: 737px) {
		font-size: 1.5em;
	}
}

#address {
	font-size: 1.2em;
}

#bottomBar {
	text-align: center;
}

#form-container {
	display: inline-block;
}

#lister {
	list-style: none;
	max-width: 50%;
}

#location-list {
	display: inline-block;
	font-size: 1.5em;
}

#map {
	display: inline-block;
	width: 100%;
	height: 100vh;
	img {
		max-width: 100%;
		width: 100%;
	};
	border-radius: 15px;
}

#page-title {
	text-align: center;
	font-family: sans-serif;
}

#listClicked {
	text-shadow: 1px 1px 8px black;
	text-align: center;
	background-color: rgba(121,150,255,0.42);
	color: white;
	border-radius: 12px;
	border: 1px darkgray solid;
}

#submit-btn {
	font-size: 1.2em;
}